@model IEnumerable<SigortaTakipSistemi.Models.AppIdentityUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/css/datatables.min.css" rel="stylesheet" />
</head>

<div class="content-wrapper">
    <section class="content">
        <div class="box-header">
            <h3 class="box-title">
                <i class="fa fa-users"></i>&nbsp; Sistem Kullanıcıları
            </h3>
            <a class="btn btn-success pull-right" asp-action="Create"><i class="fa fa-plus"></i>&nbsp;&nbsp;Yeni Oluştur</a>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box table-responsive">
                    <div class="box-body">
                        <table id="ItemsTable" class="table table-bordered table-striped" width="100%">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Id)
                                    </th>
                                    <th>
                                        E-Posta
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IsActive)
                                    </th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            @*<tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Id)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UserName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.IsAdmin)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.IsActive)
                                            </td>
                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                        <span class="fa fa-ellipsis-h"></span>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-right" style="border: 1px solid #00c0ef">
                                                        <li><a asp-action="Edit" asp-route-id="@item.Id">Şifre Güncelle</a></li>
                                                        <li><a data-toggle="modal" data-target="#modal-admin" class="setAdmin" user-id="@item.Id" user-username="@item.UserName" name="setAdmin">Admin Yap</a></li>
                                                        <li><a data-toggle="modal" data-target="#modal-passive" class="setPassive" user-id="@item.Id" user-username="@item.UserName" name="setPassive">Pasif Yap</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>*@
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal-passive">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title"><strong>Kullanıcıyı Pasif Yap</strong></h4>
                    </div>
                    <div class="modal-body">
                        <p id="message-passive">&hellip;</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="passive">Evet</button>
                        <button type="button" class="btn btn-primary pull-right" data-dismiss="modal">Kapat</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modal-admin">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title"><strong>Kullanıcıyı Admin Yap</strong></h4>
                    </div>
                    <div class="modal-body">
                        <p id="message-admin">&hellip;</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" id="admin">Evet</button>
                        <button type="button" class="btn btn-primary pull-right" data-dismiss="modal">Kapat</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal modal-success fade" id="modal-success">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Başarılı!</h4>
                    </div>
                    <div class="modal-body">
                        <p>Kullanıcı başarıyla güncellenmiştir.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal modal-danger fade" id="modal-error">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Tüh! Bir hata oluştu.</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            Kullanıcıyı güncellerken bir hata oluştu.
                            <br />
                            <br />
                            Hemen site yöneticisi ile iletişime geçin ki durumu hızlıca çözelim.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


@section Scripts {
    @{
        <script>
            var passiveUserId;
            var passiveUserName;

            $(document).delegate('.setPassive',
                'click',
                function (e) {
                    passiveUserId = $(this).attr('user-id');
                    passiveUserName = $(this).attr('user-username');
                    document.getElementById('message-passive').innerHTML = "<strong>" + passiveUserName + "</strong> kullanıcısını <strong>pasif</strong> yapmak istediğinizden emin misiniz?";
                });

            $(document).delegate('#passive',
                'click',
                function (e) {
                    console.log(passiveUserId);
                    $.ajax({
                        url: '/Account/Passive?passiveUserId=' + passiveUserId,
                        type: 'POST',
                        success: function (returnvalue) {
                            $("#modal-passive").modal('hide');
                            $("#modal-success").modal('show');
                            setTimeout(function () { $("#modal-success").modal('hide'); }, 3000);
                            setTimeout("location.reload(true);", 3000);
                        },
                        error: function (error) {
                            //console.log(error.responseText);
                            $("#modal-passive").modal('hide');
                            $("#modal-error").modal('show');
                            setTimeout(function () { $("#modal-error").modal('hide'); }, 3000);
                            setTimeout("location.reload(true);", 3000);
                        }
                    });
                });
        </script>
        <script>
            var adminUserId;
            var adminUserName;

            $(document).delegate('.setAdmin',
                'click',
                function (e) {
                    adminUserId = $(this).attr('user-id');
                    adminUserName = $(this).attr('user-username');
                    document.getElementById('message-admin').innerHTML = "<strong>" + adminUserName + "</strong> kullanıcısını <strong>admin</strong> yapmak istediğinizden emin misiniz?";
                });

            $(document).delegate('#admin',
                'click',
                function (e) {
                    console.log(adminUserId);
                    $.ajax({
                        url: '/Account/Admin?adminUserId=' + adminUserId,
                        type: 'POST',
                        success: function (returnvalue) {
                            $("#modal-admin").modal('hide');
                            $("#modal-success").modal('show');
                            setTimeout(function () { $("#modal-success").modal('hide'); }, 3000);
                            setTimeout("location.reload(true);", 3000);
                        },
                        error: function (error) {
                            //console.log(error.responseText);
                            $("#modal-admin").modal('hide');
                            $("#modal-error").modal('show');
                            setTimeout(function () { $("#modal-error").modal('hide'); }, 3000);
                            setTimeout("location.reload(true);", 3000);
                        }
                    });
                });
        </script>
        <script src="~/js/datatables.min.js"></script>
        <script src="~/js/moment.min.js"></script>
        <script>
            (function () {
                var generateCustomerTable = $("#ItemsTable").DataTable({
                    "language": {
                        processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Yükleniyor...</span> ',
                        zeroRecords: "Hiçbir kayıt bulunamadı.",
                        emptyTable: "Kayıt bulunmamaktadır.",
                        search: "Ara:",
                        oPaginate: {
                            "sFirst": "İlk",
                            "sLast": "Son",
                            "sNext": "Sonraki",
                            "sPrevious": "Önceki"
                        },
                        sLengthMenu: "_MENU_ adet kayıt getir",
                        sInfo: "Toplam _TOTAL_ kayıttan _START_ - _END_ arası gösteriliyor",
                    },
                    "processing": true,
                    "serverSide": true,
                    "searchDelay": 1200,
                    "searching": false,
                    "ajax": {
                        "url": "/Account/Post",
                        "method": "POST"
                    },
                    "columns": [
                        { "data": "id" },
                        { "data": "userName" },
                        {
                            "data": "isActive",
                            render: function (data, type, row) {
                                if (data === true) {
                                    return '<input type="checkbox" checked disabled>'
                                }
                                else if (data === false) {
                                    return '<input type="checkbox" disabled>'
                                }
                            }
                        },
                        {
                            "data": "actionId", render: function (data, type, row) {
                                return '<div class="btn-group"><button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown"><span class="fa fa-ellipsis-h"></span></button><ul class="dropdown-menu dropdown-menu-right" style="border: 1px solid #00c0ef"> <li><a href="Account/Edit/' + row.id + '">Şifre Güncelle</a></li> <li><a data-toggle="modal" data-target="#modal-admin" class="setAdmin" user-id="' + row.id + '" user-username="' + row.userName + '" name="setAdmin">Admin Yap</a></li> <li><a data-toggle="modal" data-target="#modal-passive" class="setPassive" user-id="' + row.id + '" user-username="' + row.userName + '" name="setPassive">Pasif Yap</a></li> </ul></div>'
                            }
                        }
                    ],
                    "ordering": true,
                    "paging": true,
                    "pagingType": "simple_numbers",
                    "pageLength": 100
                });
            })(jQuery);
        </script>
    }
}