@model IEnumerable<SigortaTakipSistemi.Models.ViewModels.GeneralReportViewModel>

@{
    ViewData["Title"] = "Genel Rapor";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h5 class="box-title">
                            <i class="fas fa-chart-line"></i>&nbsp;Genel Rapor
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="card-body">
                                <table id="allTables" class="table table-bordered table-striped" width="100%">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.InsuranceCompanyName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.InsurancePolicyName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Count)
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.InsuranceCompanyName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.InsurancePolicyName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Count)
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>