@model SigortaTakipSistemi.Models.Insurances

@{
    ViewData["Title"] = "Şirket Bazlı Kâr Raporu";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h5 class="box-title">
                            <i class="fas fa-chart-bar"></i>&nbsp;Şirket Bazlı Kâr Raporu
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="@Model.InsuranceStartDate" class="control-label"></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="far fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                        <input asp-for="@Model.InsuranceStartDate" type="text" class="form-control float-right" id="datepicker" autocomplete="off" />
                                    </div>
                                    <span asp-validation-for="@Model.InsuranceStartDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.InsuranceFinishDate" class="control-label"></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="far fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                        <input asp-for="@Model.InsuranceFinishDate" type="text" class="form-control pull-right" id="datepicker2" autocomplete="off" />
                                    </div>
                                    <span asp-validation-for="@Model.InsuranceFinishDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="@Model.InsuranceCompanyName" class="control-label"></label>
                                    <select asp-for="@Model.InsuranceCompany" class="form-control select2" multiple="multiple" id="insuranceCompanies" asp-items="@ViewBag.InsuranceCompanies" style="width: 100%;" aria-hidden="true"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">İptal Edilen Poliçeler Dahil Edilsin</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <input id="IsCancelledIncluded" type="checkbox" value="true" />
                                            </span>
                                        </div>
                                        <input disabled value="İptal Poliçeleri Dahil Etmek İçin Seçiniz" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="submit" id="getResult" value="Getir" class="btn btn-success btn-block" />
                                </div>
                            </div>
                            <div id="exportButton" class="col-md-4">
                                <div class="form-group">
                                    <a class="btn btn-info btn-block float-right" asp-controller="Insurance" asp-action="ExportAllInsurances"><i class="fa fa-download"></i>&nbsp;&nbsp;Dışa Aktar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive" id="resultRow">
                        <div class="card-body">
                            <table id="ItemsTable" class="table table-striped table-bordered" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Id)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.InsurancePolicyName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.InsurancePolicyNumber)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.InsuranceCompanyName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.InsuranceStartDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.InsuranceFinishDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CancelledAt)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.InsuranceAmount)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CancelledInsuranceAmount)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.InsuranceBonus)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CancelledInsuranceBonus)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.InsuranceType)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.InsurancePaymentType)
                                        </th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th colspan="6"></th>
                                        <th>Genel Toplam:</th>
                                        <th id="totalAmount"></th>
                                        <th id="cancelledTotalAmount"></th>
                                        <th id="totalBonus"></th>
                                        <th id="cancelledTotalBonus"></th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/js/datatables.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script>
        $('#getResult').click(function () {

            var IsCancelledIncluded;
            IsCancelledIncluded = $('#IsCancelledIncluded').is(':checked') ? 'true' : 'false';

            $("#resultRow").show();
            $("#exportButton").show();
            $.ajax({
                "url": "/Report/PostTotalAmount?startDate=" + $('#datepicker').val() + "&finishDate=" + $('#datepicker2').val() + "&reportType=ins&insuranceCompanies=" + $('#insuranceCompanies').val() + "&isCancelledIncluded=" + IsCancelledIncluded,
                "method": "POST"
            }).done(function (response) {
                $('#totalAmount').html(currency(response[0], { decimal: ',', separator: '.', symbol: '' }).format() + " ₺");
                $('#cancelledTotalAmount').html(currency(response[1], { decimal: ',', separator: '.', symbol: '' }).format() + " ₺");
                $('#totalBonus').html(currency(response[2], { decimal: ',', separator: '.', symbol: '' }).format() + " ₺");
                $('#cancelledTotalBonus').html(currency(response[3], { decimal: ',', separator: '.', symbol: '' }).format() + " ₺");
            });
            $("#ItemsTable").DataTable({
                "language": {
                    processing: '<i class="fas fa-sync fa-spin fa-3x fa-fw"></i><span class="sr-only">Yükleniyor...</span> ',
                    zeroRecords: "Hiçbir kayıt bulunamadı.",
                    emptyTable: "Kayıt bulunmamaktadır.",
                    search: "Ara:",
                    oPaginate: {
                        "sFirst": "İlk",
                        "sLast": "Son",
                        "sNext": "Sonraki",
                        "sPrevious": "Önceki"
                    },
                    sLengthMenu: "_MENU_ adet kayıt getir",
                    sInfo: "Toplam _TOTAL_ kayıttan _START_ - _END_ arası gösteriliyor",
                },
                "processing": true,
                "serverSide": true,
                "searchDelay": 1200,
                "stateSave": true,
                "stateDuration": -1,
                "ajax": {
                    "url": "/Report/Post?startDate=" + $('#datepicker').val() + "&finishDate=" + $('#datepicker2').val() + "&reportType=ins&insuranceCompanies=" + $('#insuranceCompanies').val() + "&isCancelledIncluded=" + IsCancelledIncluded,
                    "method": "POST"
                },
                "destroy": true,
                "columns": [
                    { "data": "id" },
                    { "data": "insurancePolicy.name" },
                    { "data": "insurancePolicyNumber" },
                    {
                        "data": "insuranceCompany.logoPath", render: function (data, type, row) {
                            return '<img src="' + row.insuranceCompany.logoPath + '" style="max-height:50px; max-width:75px" />'
                        }
                    },
                    {
                        "data": "insuranceStartDate",
                        render: function (data, type, row) {
                            return window.moment(data).format("DD-MMMM-YYYY");
                        }
                    },
                    {
                        "data": "insuranceFinishDate",
                        render: function (data, type, row) {
                            return window.moment(data).format("DD-MMMM-YYYY");
                        }
                    },
                    {
                        "data": "cancelledAt",
                        render: function (data, type, row) {
                            if (data == null) {
                                return "-";
                            }
                            return window.moment(data).format("DD-MMMM-YYYY");
                        }
                    },
                    {
                        "data": "insuranceAmount",
                        "render": function (data, type, full, meta) {
                            if (data != null) {
                                return currency(full.insuranceAmount, { decimal: ',', separator: '.', symbol: '' }).format() + " ₺";
                            }
                            return "-";
                        }
                    },
                    {
                        "data": "cancelledInsuranceAmount",
                        "render": function (data, type, full, meta) {
                            if (data != null) {
                                return currency(full.cancelledInsuranceAmount, { decimal: ',', separator: '.', symbol: '' }).format() + " ₺";
                            }
                            return "-";
                        }
                    },
                    {
                        "data": "insuranceBonus",
                        "render": function (data, type, full, meta) {
                            if (data != null) {
                                return currency(full.insuranceBonus, { decimal: ',', separator: '.', symbol: '' }).format() + " ₺";
                            }
                            return "-";
                        }
                    },
                    {
                        "data": "cancelledInsuranceBonus",
                        "render": function (data, type, full, meta) {
                            if (data != null) {
                                return currency(full.cancelledInsuranceBonus, { decimal: ',', separator: '.', symbol: '' }).format() + " ₺";
                            }
                            return "-";
                        }
                    },
                    { "data": "insuranceTypeName" },
                    { "data": "insurancePaymentTypeName" }
                ],
                "ordering": true,
                "paging": true,
                "pagingType": "simple_numbers",
                "pageLength": 100
            });
        });
    </script>
}
