@model SigortaTakipSistemi.Models.Insurances

@{
    ViewData["Title"] = "Poliçe Ekle";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h5 class="box-title">
                            <i class="fas fa-plus"></i>&nbsp;Poliçe Ekle
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <label asp-for="Customer.FullName" class="control-label"></label>
                                            <select asp-for="CustomerId" class="form-control select2" style="width: 100%;" asp-items="@ViewBag.Customers" id="customerId"></select>
                                            <span asp-validation-for="CustomerId" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-3">
                                            <br />
                                            <a class="btn btn-success btn-block float-right" asp-controller="Customer" asp-action="Create">Müşteri Ekle</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CarModel.CarBrandName" class="control-label"></label>
                                    <select id="Brand" asp-for="CarModel.CarBrand.Name" class="form-control"></select>
                                    <span asp-validation-for="CarModel.CarBrand.Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CarModel.Name" class="control-label"></label>
                                    <select id="Model" asp-for="CarModel.Name" class="form-control"></select>
                                    <span asp-validation-for="CarModel.Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="LicencePlate" class="control-label"></label>
                                    <input asp-for="LicencePlate" class="form-control" autocomplete="off" id="licencePlate" />
                                    <span asp-validation-for="LicencePlate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="InsurancePolicyName" class="control-label"></label>
                                    <select asp-for="InsurancePolicyId" class="form-control" style="width: 100%;" asp-items="@ViewBag.InsurancePolicies" id="insurancePolicyId"></select>
                                    <span asp-validation-for="InsurancePolicyId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="InsurancePolicyNumber" class="control-label"></label>
                                    <input asp-for="InsurancePolicyNumber" class="form-control" autocomplete="off" id="insurancePolicyNumber" />
                                    <span asp-validation-for="InsurancePolicyNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="InsuranceCompanyName" class="control-label"></label>
                                    <select asp-for="InsuranceCompanyId" class="form-control" asp-items="@ViewBag.InsuranceCompanies" id="insuranceCompanyId"></select>
                                    <span asp-validation-for="InsuranceCompanyId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="InsuranceStartDate" class="control-label"></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="far fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                        <input asp-for="InsuranceStartDate" type="text" class="form-control pull-right" autocomplete="off" id="datepicker" />
                                    </div>
                                    <span asp-validation-for="InsuranceStartDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="InsuranceFinishDate" class="control-label"></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="far fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                        <input asp-for="InsuranceFinishDate" type="text" class="form-control pull-right" autocomplete="off" id="datepicker2" />
                                    </div>
                                    <span asp-validation-for="InsuranceFinishDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="InsuranceAmount" class="control-label"></label><label class="text-danger small"><strong>&nbsp;(Lütfen kuruş için virgül (,) kullanınız.)</strong></label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-try"></i></span>
                                        <input asp-for="InsuranceAmount" class="form-control" autocomplete="off" id="insuranceAmount" />
                                    </div>
                                    <span asp-validation-for="InsuranceAmount" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="InsuranceBonus" class="control-label"></label><label class="text-danger small"><strong>&nbsp;(Lütfen kuruş için virgül (,) kullanınız.)</strong></label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-try"></i></span>
                                        <input asp-for="InsuranceBonus" class="form-control" autocomplete="off" id="insuranceBonus" />
                                    </div>
                                    <span asp-validation-for="InsuranceBonus" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="InsuranceType" class="control-label"></label>
                                    <select asp-for="InsuranceType" class="form-control" asp-items="@Html.GetEnumSelectList<Insurances.InsuranceTypeEnum>()" id="insuranceType"></select>
                                    <span asp-validation-for="InsuranceType" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="InsurancePaymentType" class="control-label"></label>
                                    <select asp-for="InsurancePaymentType" class="form-control" asp-items="@Html.GetEnumSelectList<Insurances.InsurancePaymentTypeEnum>()" id="insurancePaymentType"></select>
                                    <span asp-validation-for="InsurancePaymentType" class="text-danger"></span>
                                </div>
                                <label asp-for="Document" class="control-label"></label>
                                <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" asp-for="Document" accept="application/pdf" id="imageFile" name="imageFile">
                                        <label class="custom-file-label" for="exampleInputFile">Dosya Seçiniz</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group">
                            <input type="submit" value="Ekle" class="btn btn-success" onclick="createInsurance()" />
                            <a class="btn btn-primary pull-right" asp-action="Index" style="margin-right: 5px;">
                                <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Listeye Geri Dön
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        <script>
            function brandLoad() {
                $('#Brand').html('');
                $.getJSON('@Url.Action("GetCarBrands", "CarBrand")', function (result) {
                    for (var i = 0; i < result.length; i++) {
                        $("#Brand").append("<option id='" + result[i].id + "'>" + result[i].name + "</option>")
                    }
                    showValue(result[0].id);
                })
            }
            window.onload = brandLoad;

            $("#Brand").on("change", function (e) {
                showValue(e.target.selectedOptions[0].id);
            })

            function showValue(brandId)
            {
                $('#Model').html('');
                $.getJSON('@Url.Action("GetCarModelsById", "CarModel")' + "?Id=" + brandId, function (result) {
                    for (var i = 0; i < result.length; i++) {
                        $("#Model").append("<option id='" + result[i].id + "'>" + result[i].name + "</option>")
                    }
                })
            }
        </script>
        <script>
            function createInsurance() {
                var CustomerId = document.getElementById("customerId").value;
                var Brand = document.getElementById("Brand").value;
                var Model = document.getElementById("Model").value;
                var LicencePlate = document.getElementById("licencePlate").value;
                var InsurancePolicyId = document.getElementById("insurancePolicyId").value;
                var InsurancePolicyNumber = document.getElementById("insurancePolicyNumber").value;
                var InsuranceCompanyId = document.getElementById("insuranceCompanyId").value;
                var InsuranceStartDate = document.getElementById("datepicker").value;
                var InsuranceFinishDate = document.getElementById("datepicker2").value;
                var InsuranceAmount = document.getElementById("insuranceAmount").value;
                var InsuranceBonus = document.getElementById("insuranceBonus").value;
                var InsuranceType = document.getElementById("insuranceType").value;
                var InsurancePaymentType = document.getElementById("insurancePaymentType").value;

                var fileupload = $("#imageFile").get(0);
                var files = fileupload.files;
                var data = new FormData();
                for (var i = 0; i < files.length; i++) {
                    data.append(files[i].name, files[i]);
                }

                data.append('CustomerId', CustomerId);
                data.append('CarModel.Name', Model);
                data.append('LicencePlate', LicencePlate);
                data.append('InsurancePolicyId', InsurancePolicyId);
                data.append('InsurancePolicyNumber', InsurancePolicyNumber);
                data.append('InsuranceCompanyId', InsuranceCompanyId);
                data.append('InsuranceStartDate', InsuranceStartDate);
                data.append('InsuranceFinishDate', InsuranceFinishDate);
                data.append('InsuranceAmount', InsuranceAmount);
                data.append('InsuranceBonus', InsuranceBonus);
                data.append('InsuranceType', InsuranceType);
                data.append('InsurancePaymentType', InsurancePaymentType);

                $.ajax({
                    url: '/Insurance/Create',
                    type: 'POST',
                    contentType: false,
                    processData: false,
                    data: data,
                    success: function (returnvalue) {
                        console.log(returnvalue);
                        document.getElementById("swalDefaultSuccess").value = returnvalue.message;
                        document.getElementById("swalDefaultSuccess").click();
                        window.setTimeout(function () {
                            window.history.back();
                        }, 2000);
                    },
                    error: function (error) {
                        document.getElementById("swalDefaultError").value = error.responseText;
                        document.getElementById("swalDefaultError").click();
                    }
                });
            }
        </script>
    }
}
