@model SigortaTakipSistemi.Models.Insurances

@{
    ViewData["Title"] = "Poliçe Detayları";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    @*<section class="content">
            <div class="box-header">
                <h3>Poliçe Detayları</h3>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-body">
                            <dl class="row">

                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.CreatedAt)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.CreatedAt)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.CreatedBy)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.CreatedBy)
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.UpdatedAt)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.UpdatedAt)&nbsp;
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.UpdatedBy)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.UpdatedBy)&nbsp;
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.DeletedAt)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.DeletedAt)&nbsp;
                                </dd>
                                <dt class="col-sm-2">
                                    @Html.DisplayNameFor(model => model.DeletedBy)
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.DeletedBy)&nbsp;
                                </dd>
                            </dl>
                            <div>
                                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Güncelle</a>
                                <a class="btn btn-dark" asp-action="Index">Listeye Geri Dön</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
    <section class="invoice">
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-folder-open"></i> @Html.DisplayFor(model => model.Customer.FullName) |
                    @Html.DisplayFor(model => model.LicencePlate) |
                    <img src="@Html.DisplayFor(model => model.InsuranceCompany.LogoPath)" style="max-height:50px; max-width:75px" />
                    <br />
                    <small class="pull-left">Başlangıç / Bitiş Tarihi: @Html.DisplayFor(model => model.InsuranceStartDate) / @Html.DisplayFor(model => model.InsuranceFinishDate)</small>
                    <br />
                </h2>
            </div>
        </div>
        <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
                <address>
                    @Html.DisplayNameFor(model => model.InsurancePolicyNumber): <strong>#@Html.DisplayFor(model => model.InsurancePolicyNumber)</strong><br>
                    @Html.DisplayNameFor(model => model.InsuranceCompany.Name): <strong>@Html.DisplayFor(model => model.InsuranceCompany.Name)</strong><br>
                    @Html.DisplayNameFor(model => model.InsurancePolicy.Name) : <strong>@Html.DisplayFor(model => model.InsurancePolicy.Name)</strong><br>
                    @Html.DisplayNameFor(model => model.InsuranceAmount) : <strong>@Html.DisplayFor(model => model.InsuranceAmount) ₺</strong><br>
                </address>
            </div>
            <div class="col-sm-4 invoice-col">
                <address>
                    @Html.DisplayNameFor(model => model.CarModel.CarBrand.Name): <strong>@Html.DisplayFor(model => model.CarModel.CarBrand.Name)</strong><br>
                    @Html.DisplayNameFor(model => model.CarModel.Name): <strong>@Html.DisplayFor(model => model.CarModel.Name)</strong><br>
                    @Html.DisplayNameFor(model => model.InsuranceTypeName): <strong>@Html.DisplayFor(model => model.InsuranceTypeName)</strong><br>
                    @Html.DisplayNameFor(model => model.InsuranceBonus): <strong>@Html.DisplayFor(model => model.InsuranceBonus) ₺</strong><br>
                </address>
            </div>
            <div class="col-sm-4 invoice-col">
                <address>
                    @Html.DisplayNameFor(model => model.CreatedAt): <strong>@Html.DisplayFor(model => model.CreatedAt)</strong><br>
                    @Html.DisplayNameFor(model => model.CreatedBy): <strong>@Html.DisplayFor(model => model.CreatedBy)</strong><br>
                    @Html.DisplayNameFor(model => model.UpdatedAt): <strong>@Html.DisplayFor(model => model.UpdatedAt)</strong><br>
                    @Html.DisplayNameFor(model => model.UpdatedBy): <strong>@Html.DisplayFor(model => model.UpdatedBy)</strong><br>
                </address>
            </div>
        </div>
        <div class="row no-print">
            <div class="col-xs-12">
                @*<a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Print</a>*@
                <a class="btn btn-success pull-right" asp-action="Edit" asp-route-id="@Model.Id">
                    <i class="fa fa-pencil"></i>&nbsp;&nbsp;Güncelle
                </a>
                <a class="btn btn-primary pull-right" asp-action="Index" style="margin-right: 5px;">
                    <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Listeye Geri Dön
                </a>
            </div>
        </div>
    </section>
</div>