@model SigortaTakipSistemi.Models.Insurances

@{
    ViewData["Title"] = "Poliçeyi Güncelle";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h5 class="box-title">
                            <i class="fas fa-pencil-alt"></i>&nbsp;Poliçeyi Güncelle
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="row">
                                    <input asp-for="Id" class="form-control" id="id" hidden />
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Poliçe ID</label>
                                            <input asp-for="Id" class="form-control" id="disInsuranceId" disabled />
                                            <span asp-validation-for="Id" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Müşteri ID</label>
                                            <input asp-for="CustomerId" class="form-control" id="disCustomerId" disabled />
                                            <span asp-validation-for="CustomerId" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Customer.FullName" class="control-label"></label>
                                    <select asp-for="CustomerId" class="form-control" style="width: 100%;" asp-items="@ViewBag.Customers" id="customerId"></select>
                                    <span asp-validation-for="CustomerId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CarModel.CarBrandName" class="control-label"></label>
                                    <select id="Brand" asp-for="CarModel.CarBrandId" class="form-control" asp-items="@ViewBag.CarBrands"></select>
                                    <span asp-validation-for="CarModel.CarBrandId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="CarModel.Name" class="control-label"></label>
                                    <select id="Model" asp-for="CarModel.Name" class="form-control" asp-items="@ViewBag.CarModels"></select>
                                    <span asp-validation-for="CarModel.Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="LicencePlate" class="control-label"></label>
                                    <input asp-for="LicencePlate" class="form-control" autocomplete="off" id="licencePlate" />
                                    <span asp-validation-for="LicencePlate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="InsurancePolicyName" class="control-label"></label>
                                    <select asp-for="InsurancePolicyId" class="form-control" style="width: 100%;" asp-items="@ViewBag.InsurancePolicies" id="insurancePolicyId"></select>
                                    <span asp-validation-for="InsurancePolicyId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="InsurancePolicyNumber" class="control-label"></label>
                                    <input asp-for="InsurancePolicyNumber" class="form-control" autocomplete="off" id="insurancePolicyNumber" />
                                    <span asp-validation-for="InsurancePolicyNumber" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="InsuranceCompanyName" class="control-label"></label>
                                    <select asp-for="InsuranceCompanyId" class="form-control" asp-items="@ViewBag.InsuranceCompanies" id="insuranceCompanyId"></select>
                                    <span asp-validation-for="InsuranceCompanyId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="InsuranceStartDate" class="control-label"></label><label class="text-danger small"><strong>&nbsp;(Lütfen tarih formatını YYYY/MM/DD (Örn. 2020/11/25) şeklinde ayarlayınız.)</strong></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="far fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                        <input asp-for="InsuranceStartDate" type="text" class="form-control pull-right" autocomplete="off" id="datepicker" />
                                    </div>
                                    <span asp-validation-for="InsuranceStartDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="InsuranceFinishDate" class="control-label"></label><label class="text-danger small"><strong>&nbsp;(Lütfen tarih formatını YYYY/MM/DD (Örn. 2020/11/25) şeklinde ayarlayınız.)</strong></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="far fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                        <input asp-for="InsuranceFinishDate" type="text" class="form-control pull-right" autocomplete="off" id="datepicker2" />
                                    </div>
                                    <span asp-validation-for="InsuranceFinishDate" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="InsuranceAmount" class="control-label"></label><label class="text-danger small"><strong>&nbsp;(Lütfen kuruş için virgül (,) kullanınız.)</strong></label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-try"></i></span>
                                        <input asp-for="InsuranceAmount" class="form-control" autocomplete="off" id="insuranceAmount" />
                                    </div>
                                    <span asp-validation-for="InsuranceAmount" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="InsuranceBonus" class="control-label"></label><label class="text-danger small"><strong>&nbsp;(Lütfen kuruş için virgül (,) kullanınız.)</strong></label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-try"></i></span>
                                        <input asp-for="InsuranceBonus" class="form-control" autocomplete="off" id="insuranceBonus" />
                                    </div>
                                    <span asp-validation-for="InsuranceBonus" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="InsuranceType" class="control-label"></label>
                                    <select asp-for="InsuranceType" class="form-control" asp-items="@Html.GetEnumSelectList<Insurances.InsuranceTypeEnum>()" id="insuranceType"></select>
                                    <span asp-validation-for="InsuranceType" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="InsurancePaymentType" class="control-label"></label>
                                    <select asp-for="InsurancePaymentType" class="form-control" asp-items="@Html.GetEnumSelectList<Insurances.InsurancePaymentTypeEnum>()" id="insurancePaymentType"></select>
                                    <span asp-validation-for="InsurancePaymentType" class="text-danger"></span>
                                </div>
                                <label asp-for="Document" class="control-label"></label>
                                <div class="row">
                                    <div class="col-3">
                                        <a class="btn btn-secondary btn-block float-right" id="openDocument" href="#" data-toggle="modal" data-target="#modal-document" style="margin-left:10px"><i class="fa fa-file-pdf"></i>&nbsp;&nbsp;Dokümanı Görüntüle</a>
                                    </div>
                                    <div class="col-9">
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" asp-for="Document" accept="application/pdf" id="imageFile" name="imageFile">
                                                <label class="custom-file-label" for="exampleInputFile">Dosya Seçiniz</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group">
                            <input type="submit" value="Kaydet" class="btn btn-success" onclick="updateInsurance()" id="updateButton" />
                            <a class="btn btn-primary pull-right" asp-action="Index" style="margin-right: 5px;">
                                <i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Listeye Geri Dön
                            </a>
                        </div>
                    </div>
                    <div class="modal fade" id="modal-document">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content" style="height:800px">
                                <div class="modal-header">
                                    <h4 class="modal-title"><strong><i class="fa fa-file-pdf"></i>&nbsp;&nbsp;Doküman</strong></h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <iframe id="document" style="width:100%;height:100%" webkitallowfullscreen allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    window.onload = function getInsurance() {
        var id = '@Url.RouteUrl(ViewContext.RouteData.Values).Split("/").Last()';

        $.ajax({
            url: '/Insurance/EditPost?&id=' + id,
            type: 'POST',
            success: function (returnvalue) {
                var start = new Date(returnvalue.insuranceStartDate);
                var finish = new Date(returnvalue.insuranceFinishDate);

                var dayS = start.getDate();
                var monthS = start.getMonth() + 1;
                var yearS = start.getFullYear();
                dayS = dayS < 10 ? "0" + dayS : dayS;
                monthS = monthS < 10 ? "0" + monthS : monthS;

                var dayF = finish.getDate();
                var monthF = finish.getMonth() + 1;
                var yearF = finish.getFullYear();
                dayF = dayF < 10 ? "0" + dayF : dayF;
                monthF = monthF < 10 ? "0" + monthF : monthF;

                document.getElementById("id").value = returnvalue.id;
                document.getElementById("disCustomerId").value = returnvalue.customerId;
                document.getElementById("disInsuranceId").value = returnvalue.id;
                document.getElementById("customerId").value = returnvalue.customerId;
                document.getElementById("Brand").value = returnvalue.carModel.carBrandId;
                document.getElementById("Model").value = returnvalue.carModel.name;
                document.getElementById("licencePlate").value = returnvalue.licencePlate;
                document.getElementById("insurancePolicyId").value = returnvalue.insurancePolicyId;
                document.getElementById("insurancePolicyNumber").value = returnvalue.insurancePolicyNumber;
                document.getElementById("insuranceCompanyId").value = returnvalue.insuranceCompanyId;
                document.getElementById("datepicker").value = yearS + "/" + monthS + "/" + dayS;
                document.getElementById("datepicker2").value = yearF + "/" + monthF + "/" + dayF;
                document.getElementById("insuranceAmount").value = currency(returnvalue.insuranceAmount, { decimal: ',', separator: '', symbol: '' }).format();
                document.getElementById("insuranceBonus").value = currency(returnvalue.insuranceBonus, { decimal: ',', separator: '', symbol: '' }).format();
                document.getElementById("insuranceType").value = returnvalue.insuranceType;
                document.getElementById("insurancePaymentType").value = returnvalue.insurancePaymentType;
            },
            error: function (error) {
                document.getElementById("swalDefaultError").value = "Poliçeye Getirilirken Bir Hata Oluştu!";
                document.getElementById("swalDefaultError").click();
            }
        });

        $("#openDocument").on("click", function () {
            $.ajax({
                url: '/Insurance/GetDocument?&id=' + id,
                type: 'POST',
                success: function (returnvalue) {
                    document.getElementById("document").src = 'data:application/pdf;base64,' + returnvalue.document;
                },
                error: function (error) {
                    Swal.fire({
                        position: 'center',
                        icon: 'warning',
                        title: 'Doküman Bulunmamaktadır!',
                        showConfirmButton: false,
                        timer: 2000
                    }),
                    window.setTimeout(function () {
                        $("#modal-document").modal('hide');
                    }, 2000);
                }
            });
        });
    }
</script>

<script>
    function updateInsurance() {
        var Id = document.getElementById("id").value;
        var CustomerId = document.getElementById("customerId").value;
        var Model = document.getElementById("Model").value;
        var LicencePlate = document.getElementById("licencePlate").value;
        var InsurancePolicyId = document.getElementById("insurancePolicyId").value;
        var InsurancePolicyNumber = document.getElementById("insurancePolicyNumber").value;
        var InsuranceCompanyId = document.getElementById("insuranceCompanyId").value;
        var InsuranceStartDate = document.getElementById("datepicker").value;
        var InsuranceFinishDate = document.getElementById("datepicker2").value;
        var InsuranceAmount = document.getElementById("insuranceAmount").value;
        var InsuranceBonus = document.getElementById("insuranceBonus").value;
        var InsuranceType = document.getElementById("insuranceType").value;
        var InsurancePaymentType = document.getElementById("insurancePaymentType").value;

        var fileupload = $("#imageFile").get(0);
        var files = fileupload.files;
        var data = new FormData();
        for (var i = 0; i < files.length; i++) {
            data.append(files[i].name, files[i]);
        }

        data.append('CustomerId', CustomerId);
        data.append('CarModel.Name', Model);
        data.append('LicencePlate', LicencePlate);
        data.append('InsurancePolicyId', InsurancePolicyId);
        data.append('InsurancePolicyNumber', InsurancePolicyNumber);
        data.append('InsuranceCompanyId', InsuranceCompanyId);
        data.append('InsuranceStartDate', InsuranceStartDate);
        data.append('InsuranceFinishDate', InsuranceFinishDate);
        data.append('InsuranceAmount', InsuranceAmount);
        data.append('InsuranceBonus', InsuranceBonus);
        data.append('InsuranceType', InsuranceType);
        data.append('InsurancePaymentType', InsurancePaymentType);

        $("#updateButton").attr("disabled", true);

        $.ajax({
            url: '/Insurance/Edit?id=' + Id,
            type: 'POST',
            contentType: false,
            processData: false,
            data: data,
            success: function (returnvalue) {
                document.getElementById("swalDefaultSuccess").value = returnvalue.message;
                document.getElementById("swalDefaultSuccess").click();
                window.setTimeout(function () {
                    window.history.back();
                }, 2000);
            },
            error: function (error) {
                document.getElementById("swalDefaultError").value = error.responseText;
                document.getElementById("swalDefaultError").click();
                window.setTimeout(function () {
                    $("#updateButton").attr("disabled", false);
                }, 1600);
            }
        });
    }
</script>