@model IEnumerable<SigortaTakipSistemi.Models.Insurances>

@{
    ViewData["Title"] = "Poliçeler";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h5 class="box-title">
                            <i class="fas fa-folder-open"></i>&nbsp;Poliçeler
                            <a class="btn btn-info btn-sm float-right" id="uploadButton" hidden href="#" data-toggle="modal" data-target="#modal-import" style="margin-left:10px"><i class="fa fa-upload"></i>&nbsp;&nbsp;İçe Aktar</a>
                            <a class="btn btn-info btn-sm float-right" asp-controller="Insurance" asp-action="ExportAllActiveInsurances" style="margin-left:10px"><i class="fa fa-download"></i>&nbsp;&nbsp;Dışa Aktar</a>
                            <a class="btn btn-success btn-sm float-right" asp-action="Create"><i class="fa fa-plus"></i>&nbsp;&nbsp;Yeni Oluştur</a>
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="card-body">
                                <table id="ItemsTable" class="table table-bordered table-striped" width="100%">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Id)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Customer.FullName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.CarModel.CarBrand.Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.CarModel.Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.LicencePlate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.InsurancePolicyName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.InsurancePolicyNumber)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.InsuranceCompanyName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.InsuranceStartDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.InsuranceFinishDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.InsuranceAmount)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.InsuranceBonus)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.InsuranceType)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.InsurancePaymentType)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="modal-import">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title"><strong>Poliçeleri İçeri Aktar</strong></h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form method="post" enctype="multipart/form-data" asp-controller="Import" asp-action="Insurance">
                                    <div class="modal-body">
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="exampleInputFile" name="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" value="Ara">
                                                <label class="custom-file-label" for="exampleInputFile">Dosya Seçiniz...</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer justify-content-between">
                                        <input type="submit" class="btn btn-success btn-block" value="Yükle" id="upload" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts{
    <script src="~/js/datatables.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script>
        (function () {
            var generateCustomerTable = $("#ItemsTable").DataTable({
                "language": {
                    processing: '<i class="fas fa-sync fa-spin fa-3x fa-fw"></i><span class="sr-only">Yükleniyor...</span> ',
                    zeroRecords: "Hiçbir kayıt bulunamadı.",
                    emptyTable: "Kayıt bulunmamaktadır.",
                    search: "Ara:",
                    oPaginate: {
                        "sFirst": "İlk",
                        "sLast": "Son",
                        "sNext": "Sonraki",
                        "sPrevious": "Önceki"
                    },
                    sLengthMenu: "_MENU_ adet kayıt getir",
                    sInfo: "Toplam _TOTAL_ kayıttan _START_ - _END_ arası gösteriliyor",
                },
                "processing": true,
                "serverSide": true,
                "searchDelay": 1200,
                "stateSave": true,
                "stateDuration": -1,
                "ajax": {
                    "url": "/Insurance/Post?isActive=true",
                    "method": "POST"
                },
                "columns": [
                    { "data": "id" },
                    { "data": "customer.fullName", "orderable": false },
                    { "data": "carModel.carBrand.name", "orderable": false },
                    { "data": "carModel.name", "orderable": false },
                    { "data": "licencePlate" },
                    { "data": "insurancePolicy.name", "orderable": false },
                    { "data": "insurancePolicyNumber" },
                    {
                        "data": "insuranceCompany.logoPath", "orderable": false, render: function (data, type, row) {
                            return '<img src="' + row.insuranceCompany.logoPath + '" style="max-height:50px; max-width:75px" />'
                        }
                    },
                    {
                        "data": "insuranceStartDate",
                        render: function (data, type, row) {
                            return window.moment(data).format("DD-MMMM-YYYY");
                        }
                    },
                    {
                        "data": "insuranceFinishDate",
                        render: function (data, type, row) {
                            return window.moment(data).format("DD-MMMM-YYYY");
                        }
                    },
                    {
                        "data": "insuranceAmount",
                        "render": function (data, type, full, meta) {
                            if (data != null) {
                                return currency(full.insuranceAmount, { decimal: ',', separator: '.', symbol: '' }).format() + " ₺";
                            }
                            return "-";
                        }
                    },
                    {
                        "data": "insuranceBonus",
                        "render": function (data, type, full, meta) {
                            if (data != null) {
                                return currency(full.insuranceBonus, { decimal: ',', separator: '.', symbol: '' }).format() + " ₺";
                            }
                            return "-";
                        }
                    },
                    { "data": "insuranceTypeName" },
                    { "data": "insurancePaymentTypeName" },
                    {
                        "data": "actionId", "orderable": false, render: function (data, type, row) {
                            return '<div class="btn-group"><button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown"><span class="fa fa-ellipsis-h"></span></button><ul class="dropdown-menu dropdown-menu-right" style="border: 1px solid #00c0ef"> <a class="dropdown-item" href="Insurance/Edit/' + row.id + '">Güncelle</a> <a class="dropdown-item" href="Insurance/Details/' + row.id + '">Detaylar</a> <a class="dropdown-item" href="Insurance/Cancel/' + row.id + '">İptal Et</a> <a class="dropdown-item" href="Insurance/Passive/' + row.id + '">Pasif Yap</a> <a class="dropdown-item" href="Insurance/Delete/' + row.id + '">Sil</a></ul></div>'
                        }
                    }
                ],
                "ordering": true,
                "paging": true,
                "pagingType": "simple_numbers",
                "pageLength": 100
            });
        })(jQuery);
    </script>
    <script>
        $(document).delegate('#upload',
            'click',
            function (e) {
                this.form.submit();
                this.disabled = true;
                this.value = 'Yükleniyor…';
            });
    </script>
    <script>
        var map = [];

        onkeydown = function (e) {
            map.push(e.keyCode);
            if (map[0] == 68) {
                if (map[1] == 79) {
                    if (map[2] == 82) {
                        if (map[3] == 85) {
                            if (map[4] == 75) {
                                if (map[5] == 13) {
                                    document.getElementById('uploadButton').removeAttribute("hidden");
                                }
                            }
                        }
                    }
                }
            }
        }
    </script>
}
