@model IEnumerable<SigortaTakipSistemi.Models.Insurances>

@{
    ViewData["Title"] = "Pasif Poliçeler";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h5 class="box-title">
                            <i class="fas fa-folder-minus"></i>&nbsp;Pasif ve İptal Poliçeler
                            <a class="btn btn-info btn-sm float-right" asp-controller="Insurance" asp-action="ExportAllPassiveInsurances"><i class="fa fa-download"></i>&nbsp;&nbsp;Dışa Aktar</a>
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="card-body">
                                <table id="ItemsTable" class="table table-striped table-bordered" width="100%">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Id)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Customer.FullName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.CarModel.CarBrand.Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.CarModel.Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.LicencePlate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.InsurancePolicyName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.InsurancePolicyNumber)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.InsuranceCompanyName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.InsuranceStartDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.InsuranceFinishDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.CancelledAt)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.InsuranceAmount)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.CancelledInsuranceAmount)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.InsuranceBonus)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.CancelledInsuranceBonus)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.InsuranceType)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.InsurancePaymentType)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/js/datatables.min.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script>
        (function () {
            var generateCustomerTable = $("#ItemsTable").DataTable({
                "language": {
                    processing: '<i class="fas fa-sync fa-spin fa-3x fa-fw"></i><span class="sr-only">Yükleniyor...</span> ',
                    zeroRecords: "Hiçbir kayıt bulunamadı.",
                    emptyTable: "Kayıt bulunmamaktadır.",
                    search: "Ara:",
                    oPaginate: {
                        "sFirst": "İlk",
                        "sLast": "Son",
                        "sNext": "Sonraki",
                        "sPrevious": "Önceki"
                    },
                    sLengthMenu: "_MENU_ adet kayıt getir",
                    sInfo: "Toplam _TOTAL_ kayıttan _START_ - _END_ arası gösteriliyor",
                },
                "processing": true,
                "serverSide": true,
                "searchDelay": 1200,
                "stateSave": true,
                "stateDuration": -1,
                "ajax": {
                    "url": "/Insurance/Post?isActive=false",
                    "method": "POST"
                },
                "columns": [
                    { "data": "id" },
                    { "data": "customer.fullName", "orderable": false },
                    { "data": "carModel.carBrand.name", "orderable": false },
                    { "data": "carModel.name", "orderable": false },
                    { "data": "licencePlate" },
                    { "data": "insurancePolicy.name", "orderable": false },
                    { "data": "insurancePolicyNumber" },
                    {
                        "data": "insuranceCompany.logoPath", "orderable": false, render: function (data, type, row) {
                            return '<img src="' + row.insuranceCompany.logoPath + '" style="max-height:50px; max-width:75px" />'
                        }
                    },
                    {
                        "data": "insuranceStartDate",
                        render: function (data, type, row) {
                            return window.moment(data).format("DD-MMMM-YYYY");
                        }
                    },
                    {
                        "data": "insuranceFinishDate",
                        render: function (data, type, row) {
                            return window.moment(data).format("DD-MMMM-YYYY");
                        }
                    },
                    {
                        "data": "cancelledAt",
                        render: function (data, type, row) {
                            if (data == null) {
                                return "-";
                            }
                            return window.moment(data).format("DD-MMMM-YYYY");
                        }
                    },
                    { "data": "insuranceAmount" },
                    {
                        "data": "cancelledInsuranceAmount",
                        render: function (data, type, row) {
                            if (data == 0) {
                                return "-";
                            }
                            return data;
                        }
                    },
                    { "data": "insuranceBonus" },
                    {
                        "data": "cancelledInsuranceBonus",
                        render: function (data, type, row) {
                            if (data == 0) {
                                return "-";
                            }
                            return data;
                        }
                    },
                    { "data": "insuranceTypeName" },
                    { "data": "insurancePaymentTypeName" },
                    {
                        "data": "actionId", "orderable": false, render: function (data, type, row) {
                            if (row.cancelledAt != null) {
                                return '<div class="btn-group"><button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown"><span class="fa fa-ellipsis-h"></span></button><ul class="dropdown-menu dropdown-menu-right" style="border: 1px solid #00c0ef"> <a class="dropdown-item" href="Details/' + row.id + '" class="btn-link">Detaylar</a> <a class="dropdown-item" href="Delete/' + row.id + '" class="btn-link">Sil</a> </div>'
                            }
                            else {
                                return '<div class="btn-group"><button type="button" class="btn btn-default btn-block dropdown-toggle" data-toggle="dropdown"><span class="fa fa-ellipsis-h"></span></button><ul class="dropdown-menu dropdown-menu-right" style="border: 1px solid #00c0ef"> <a class="dropdown-item" href="Details/' + row.id + '" class="btn-link">Detaylar</a> <a class="dropdown-item" href="Revoke/' + row.id + '" class="btn-link">Aktif Yap</a> <a class="dropdown-item" href="Delete/' + row.id + '" class="btn-link">Sil</a> </div>'
                            }
                        }
                    }
                ],
                "ordering": true,
                "paging": true,
                "pagingType": "simple_numbers",
                "pageLength": 100
            });
        })(jQuery);
    </script>
}
