@model SigortaTakipSistemi.Models.Insurances

@{
    ViewData["Title"] = "Poliçeyi Aktif Et";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <section class="content">
        <div class="box-header">
            <h3>Bu poliçeyi tekrar aktif duruma getirmek istediğinizden emin misiniz?</h3>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <dl class="row">
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.Customer.FullName)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.Customer.FullName)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.CarModel.CarBrand.Name)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.CarModel.CarBrand.Name)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.CarModel.Name)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.CarModel.Name)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.LicencePlate)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.LicencePlate)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.InsurancePolicyName)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.InsurancePolicyName)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.InsurancePolicyNumber)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.InsurancePolicyNumber)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.InsuranceCompanyName)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.InsuranceCompanyName)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.InsuranceStartDate)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.InsuranceStartDate)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.InsuranceFinishDate)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.InsuranceFinishDate)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.InsuranceAmount)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.InsuranceAmount) ₺
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.InsuranceBonus)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.InsuranceBonus) ₺
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.InsuranceType)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.InsuranceType)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.CreatedAt)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.CreatedAt)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.CreatedBy)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.CreatedBy)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.UpdatedAt)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.UpdatedAt)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.UpdatedBy)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.UpdatedBy)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.DeletedAt)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.DeletedAt)
                            </dd>
                            <dt class="col-sm-2">
                                @Html.DisplayNameFor(model => model.DeletedBy)
                            </dt>
                            <dd class="col-sm-10">
                                @Html.DisplayFor(model => model.DeletedBy)
                            </dd>
                        </dl>

                        <form asp-action="Revoke">
                            <input type="hidden" asp-for="Id" />
                            <input type="hidden" asp-for="UpdatedAt" value="@DateTime.Now" />
                            <input type="submit" value="Evet" class="btn btn-danger" />
                            <a class="btn btn-dark" asp-action="Index">Listeye Geri Dön</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>