@model IEnumerable<SigortaTakipSistemi.Models.AppIdentityRole>

@{
    ViewData["Title"] = "Sistem Rolleri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <section class="content">
        <div class="box-header">
            <h3 class="box-title">
                <i class="fa fa-check-square-o"></i>&nbsp; Sistem Rolleri
            </h3>
            <a class="btn btn-success pull-right" asp-action="Create"><i class="fa fa-plus"></i>&nbsp;&nbsp;Yeni Oluştur</a>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="box table-responsive">
                    <div class="box-body">
                        <table id="allTables" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        Rol Adı
                                    </th>
                                    <th>
                                        Id
                                    </th>
                                    <th>İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Id)
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                    <span class="fa fa-ellipsis-h"></span>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right" style="border: 1px solid #00c0ef">
                                                    <li><a asp-action="Edit" asp-route-id="@item.Id">Güncelle</a></li>
                                                    <li><a asp-action="Details" asp-route-id="@item.Id">Detaylar</a></li>
                                                    <li><a asp-action="Delete" asp-route-id="@item.Id">Sil</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>