@model IEnumerable<SigortaTakipSistemi.Models.AppIdentityRole>

@{
    ViewData["Title"] = "Sistem Rolleri";
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-secondary">
                    <div class="card-header">
                        <h5 class="box-title">
                            <i class="fas fa-key"></i>&nbsp;Sistem Rolleri
                            <a class="btn btn-success btn-sm float-right" asp-action="Create"><i class="fa fa-plus"></i>&nbsp;Yeni Oluştur</a>
                        </h5>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <div class="card-body">
                                <table id="allTables" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                Rol Adı
                                            </th>
                                            <th>
                                                Id
                                            </th>
                                            <th>İşlemler</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Id)
                                                </td>
                                                <td>
                                                    @if (item.Name != "Admin")
                                                    {
                                                        <div class="btn-group">
                                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                                <span class="fa fa-ellipsis-h"></span>
                                                            </button>
                                                            <ul class="dropdown-menu dropdown-menu-right" style="border: 1px solid #00c0ef">
                                                                <li><a class="dropdown-item" asp-action="Edit" asp-route-id="@item.Id">Güncelle</a></li>
                                                                <li><a class="dropdown-item" asp-action="Details" asp-route-id="@item.Id">Detaylar</a></li>
                                                                <li><a class="dropdown-item" asp-action="Delete" asp-route-id="@item.Id">Sil</a></li>
                                                            </ul>
                                                        </div>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>