@model IEnumerable<SigortaTakipSistemi.Models.Customers>

@{
    ViewData["Title"] = "Müşteriler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <section class="content">
        <h3>
            <i class="glyphicon glyphicon-user"></i>&nbsp;Müşteriler
        </h3>
        <form method="post" enctype="multipart/form-data">
            <a class="btn btn-success" asp-action="Create">Yeni Oluştur</a>
        </form>
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-body">
                        <table id="allTables" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Id)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Surname)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CitizenshipNo)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Phone)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Other)
                                    </th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Surname)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CitizenshipNo)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Phone)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Other)
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id">Güncelle</a>
                                        </td>
                                        <td>
                                            <a asp-action="Details" asp-route-id="@item.Id">Detaylar</a>
                                        </td>
                                        <td>
                                            <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
